h1{
    color: #1abc9c;
}

.home{
    background-image: url("aboutme.png");
    padding: 20%;
}

#heading h1{
    font-family: 'Arizonia', cursive;
    font-size: 500%;
    
    
}

.about-me{
    padding: 5%;
    font-family: 'Roboto Slab', serif;  
}

#bioImgs img{
    height: 90%;
    width: 90%;
    border-radius: 90%;
}

#description{
    width: 75%;
    margin: 0 auto;
}

.projects{
    padding-top: 2%;   
    padding-bottom: 2%; 
    font-family: 'Roboto Slab', serif;  
    
}

.projects img{
    height: 30%;
}

.projectwrapper{
    background-color: #ecf0f1;
}

.proj{
    border: #1abc9c 1px solid;
    
}

.resume{
    padding-top: 2%;   
    padding-bottom: 2%; 
    font-family: 'Roboto Slab', serif;  
}

.contact-me{
    background-color: #1abc9c;
    font: white;
    font-family: 'Roboto Slab', serif;  
}

.contact-me h1{
    color: white;
}